
<html ng-app="listaTelefoneica">
<head>
<meta charset="UTF-8" />
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css" media="screen">
	<style>
		.jumbotron {
			width: 600px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}

		.table{
			margin-top: 20px;
		}

		.selecionado{
			background-color: yellow;
		}

		.negrito{
			font-weight: bold;
		}

	</style>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script>
		angular.module("listaTelefoneica", ["ngMessages"]);
		angular.module("listaTelefoneica").controller("listaTelefoneicaCtrl", function ($scope, $filter, uppercaseFilter){
			$scope.app = "Lista Telefonica";
			// aplicanto filter no controller.
			$scope.contatos = [
				{nome: $filter('uppercase')("Pedro"), telefone: "98898899", data: new Date(), operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}, cor: "blue"},
			 	{nome: uppercaseFilter("Joao") , telefone: "67898899", data: new Date(), operadora: {nome: "Tim", codigo: 15, categoria: "Celular"}, cor: "yellow"},
			 	{nome: "Maria", telefone: "89898899", data: new Date(), operadora: {nome: "Vivo", codigo: 41, categoria: "Celular"}, cor: "red"}];

			$scope.operadoras = [
								{nome: "Oi", codigo: 14, categoria: "Celular", preco: 2},
								{nome: "Tim", codigo: 15, categoria: "Celular", preco: 5},
								{nome: "Vivo", codigo: 41, categoria: "Celular", preco: 1},
								{nome: "GVT", codigo: 12, categoria: "Fixo", preco: 2},
								{nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 3}];

			$scope.adicionarContato = function (contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
				$scope.contatoForm.$setPristine();//volta a ser virgem!
			};

			$scope.apagarContatos = function (contatos) {
				$scope.contatos = contatos.filter( function (contato) {
					if (!contato.selecionado) 
						return contato;
				});
			};

			$scope.isContatoSelecionado = function (contatos){
				return contatos.some(function (contato) {
					return contato.selecionado;
				});
			};

			$scope.ordenarPor = function (campo) {
				$scope.criterioDeOrdenacao = campo;
				$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
			};
		});
	</script>
</head>
<body ng-controller="listaTelefoneicaCtrl">
	<div class="jumbotron">
		<h3 ng-bind="app"></h3>
		<input class="form-control" type="text" ng-model="criterioBusca"  placeholder="O que você está buscando?">
		<table ng-show="contatos.length > 0" class="table table-striped">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadoras</th>
				<th>Data</th>
				<th></th>
			</tr>

			<!-- limitTo pode ser aplicado no final do ng-repeat | limitTo:2 -->
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: {nome: criterioBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao ">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<!-- aplicando limit em strings| limitTo:2 -->
				<td>{{contato.nome  | limitTo:4}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date:' MM EEEE dd/MM/yyyy HH:mm'}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</table>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-minlength="10" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true">
			<!--input class="form-control" type="number" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"-->		
			<input class="form-control" type="number" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true">
			<select class="form-control" ng-model="contato.operadora" name="operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy: 'nome'" ng-required="true">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>
		

		<div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
			<!--dirty não é mais virgem, campo já usado, já modificado-->
			<div ng-message="required" > Por favor preencha o nome.</div>
			<div ng-message="minlength" > O campo nome deve ter 10 characteres.</div>
		</div>
		
		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger" > Por favor preencha o telefone</div>

		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger"> Telefone deve ter formato DDDDD-DDDD 
		</div>

		<div ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty" class="alert alert-danger"> Por favor preencha o operadora</div>

		<button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="adicionarContato(contato)"> Adicionar Contato </button>

		<button class="btn btn-danger btn-block" ng-if="isContatoSelecionado(contatos)" ng-click="apagarContatos(contatos)"> Apagar Contatos </button>
		<!-- Exemplo de arredondar numeros.{{100.26| number:1}}-->
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>